@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app,
.content {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/*Track*/
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/*Handle*/
::-webkit-scrollbar-thumb {
  background: #c0c0c0;
}


/*Handle on Hover*/
::-webkit-scrollbar-track:hover {
  background: #555;
}
