.clinical {
  flex-direction: column;
}
.tableDoctors {
  margin-top: 50px;
  margin-bottom: 20px;
}
.infoClinic {
  margin-top: 35px;
  margin-left: 30px;
}
.ymaps {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

